<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hbeulibrary">

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".Util.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".View.NotifyService"
            android:enabled="true"
            android:exported="true">
        </service>
        <activity android:name=".View.Activities.SearchActivity"></activity>
        <activity
            android:name=".View.Activities.ForgetPwdActivity"
            android:label="@string/title_activity_reset" />
        <activity
            android:name=".View.Activities.RegisterActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".View.Activities.RePwdActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".View.Activities.loginActivity"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.Activities.BookMassageActivity" />
        <activity android:name=".View.MainActivity" />
    </application>

</manifest>